.country-detail-section {
    width: 60%;
    /* border: solid gray 2px; */
    display: flex;
    row-gap: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}


.CountryCard-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    color: white;
    align-items: center;
    padding: 20px 10px 20px 10px;
    border: solid 2px white;
    height: min-content;
    min-height: 380px;
    position: relative;
}

.CountryCard-container:hover .close-button-container{
    visibility: visible;
}

.country-flag {
    /* width: 84px; */
    height: 50px;
    border-radius: 5px;
}

.CountryCard-container p,span{
    font-size: 20px;
    margin: 5px;
    
}
.CountryCard-container span{
    font-weight: bold;
    text-decoration: none;
}
.close-button {
    width: 70px;
    height: 70px;
}
.close-button-container {
    position: absolute;
    right: 5px;
    top: 5px;
    filter: invert(100%);
    visibility: hidden;
}
.country-values-currency {
    font-weight: bold;
    text-decoration: none;
}